.Drum_Box{
	width: 850px;
	height: 400px;
	background: rgba(249, 240, 240, 0.88);
	background-blend-mode: lighten;
	border-radius: 30px;
	display: flex;
	justify-content:space-around;
	align-items: center;
}